
.team1 {
	margin-top: 1em;
	background-color: white;
}

.text {
	padding-top: 0.5em;
	text-align: center;
	margin-top: 0em;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
	margin-bottom: 1em;
	color: black;
}

.inline {
	display: inline-block;
	margin-bottom: 30px;
	padding: 2em 4em;
}

.clearboth { 
	clear:both;
}

.team2 {
	text-align: center;
	overflow: hidden;
	align-content: center;
}

.name {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 1.5em;
}

img {
	border-radius: 50%;
}

.description {
	font-size: 0.7em;
}

.team3 {
	text-align: center;
	overflow: hidden;
	align-content: center;
}

.inline-1 {
	display: inline-block;
	margin-bottom: 30px;
	padding: 2em;
}